env/
node_modules/
pyvenv.cfg

webpack-stats-*.json

*.sqlite3

__pycache__/
*~

*.pyc
*.pyo

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

static/
bundles/

*.log

# Created by ansible templates
production_settings.py
production_wsgi.py
uwsgi.ini

# SECRETS
production.yml

# Ansible generated
*.retry 
