.vscode
.idea/

tmp/
front/src/components/prosemirror/math_node/
fixtures/
back/dev.db

**/sandbox_app/instance/

# C# 
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# TS build artifacts
.next/

# .net build artifacts
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
*.code-workspace

# Python
env/
node_modules/
pyvenv.cfg

webpack-stats-*.json

*.sqlite3

__pycache__/
*~

*.pyc
*.pyo

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

static/
bundles/

*.log

# Created by ansible templates
production_settings.py
production_wsgi.py
uwsgi.ini

# SECRETS
production.yml

# Ansible generated
*.retry 

# FRONTEND 
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
