django
djangorestframework
markdown
django-filter
django-webpack-loader
djoser

# DB
psycopg2
# sqlite not needed as a module since it is part of the standard library

# WSGI: note that this does not work on Windows
# uwsgi
